<div class="row w-100 justify-content-center d-flex ">
  <button class="btn btn-outline-primary m-3" (click)="Start()">Start</button>
  <button class="btn btn-outline-secondary m-3" (click)="Pause()">Pause</button>
  <button class="btn btn-outline-danger m-3" (click)="End()">End</button>
</div>



<div class="container">
  <div class="justify-content-center row">
    <div class="d-flex justify-content-center w-100" *ngFor="let row of universeState.rows">
      <div class="cell  m-1" *ngFor="let col of row" [style.background-color]="col ? 'black' : ''">
      </div>
    </div>
  </div>
</div>